@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=Righteous&display=swap');

/* body */
*, ::after, ::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

/* general */
.container
{
    overflow: hidden;
    margin: auto;
}

/* start navbar */
.bg-light 
{
    background-color: white !important;
}
.navbar-brand {
    color:rgb(238, 204, 10)  !important;
    font-size:25px;
    font-weight:bold;
    font-family: 'Lobster', cursive;
}
a.nav-link
{
    color: rgb(68, 68, 68);
    font-size:18px;
    font-family: 'Lobster', cursive;
}
a.nav-link:focus , a.nav-link:hover
{
    color: rgb(238, 204, 10);
    text-decoration:underline;
}
.navbar .collapse ul li a
{
    border: none;
    margin-left:10px;
    padding:10px;
}

/*media query of navbar  */
@media (max-width: 1200px) 
{
    .bg-light 
    {
        height: 100%;
    }
    .nav
    {
        flex-direction: column;
        align-items:center;
    }
}
/* end navbar */

/* start carousel-inner */
.carousel-control-prev:hover, .carousel-control-next:hover
{
    background-color:rgb(0, 0, 0,.3);
}
/* end carousel-inner */


/* start about section */
.equal .narrow
{
    margin:70px 0;
}
.equal .narrow h1 
{
    color:rgb(238, 204, 10);
    font-weight: bold;
    margin-bottom:20px;
    font-family: 'Lobster', cursive;
}
.equal .narrow .lead
{
    color: rgb(68, 68, 68);
    font-size:20px;
    line-height: 1.8;
}
#about .row img
{
    width: 100%;
    margin-bottom:10px;
}
#about .row p
{
    font-size:17px;
    color: rgb(68, 68, 68);
}
#about .row p span
{
    color:rgb(238, 204, 10);
}
#about .row .img
{
    background-image: url(../img/chef.jpg);
    height:507px;
    background-size: cover;
    position: relative;
    margin-bottom:15px;
}
#about .row .img p
{
    position: absolute;
    bottom:0;
    left: 0;
    margin:0;
    background-color:rgba(0, 0, 0, .5);
    color: #fff;
    font-size:18px;
    line-height:1.8;
}
#about .row .img p a 
{
    margin-bottom:7px;
    border:none;
}
#about .row .img p a:hover , .navbar .collapse ul li .btn:hover
{
    background-color:rgb(238, 204, 10);
    border:none;
    color:rgb(68, 68, 68);
}

/* media query about & product section */
@media (max-width: 1200px) 
{
    .equal .narrow
    {
        margin:40px 0;
    }
    .equal .narrow .lead
    {
        font-size:17px;
        line-height: 1.5;
    }
    #about .row .img
    {
        width:100%;
    }
}
/* end about section */

/* Start Service section */
#services
{
    margin-top: 7%;
    width: 100%;
    height: 400px;
    background: url('../img/happy.jpg');
    background-attachment: fixed;
    text-align: center;
}
#services p
{
    font-size: 20px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: bold;
    margin-top:15%; 
    padding: 25px;
    text-transform: uppercase;
    display: inline-block
}
#product .container .row img
{
    width: 100%;
    margin-bottom:15px;
}


/* start reservation section  */
#reservation
{
    width: 100%;
    height: auto;
    margin:100px 0 ;
    padding:80px 0 ;
    background:rgb(233, 233, 233);
}
#reservation form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#reservation form h3
{
    color:rgb(68, 68, 68);
    margin-bottom:15px;
}
#reservation form h5
{
    margin-top:10px;
}
#reservation form input,
#reservation form label 
{
    display: block;
    margin-bottom:5px;
    width:400px;
}
#reservation form input
{
    height:40px;
    border: none;
    padding:10px;
}
#reservation form a
{
    margin-top:15px;
    width: 400px;
    border: none;
}
#reservation form a:hover
{
    background-color:rgb(238, 204, 10);
    border:none;
    color:rgb(68, 68, 68);
}
/* end reservation section */

/* start footer */
footer
{
    width: 100%;
    height: auto;
    margin-top:100px;
    text-align: center;
    color: rgb(68, 68, 68);
}
footer h4
{
    margin-bottom:15px;
}
footer .bo
{
    border: 2px solid black;
    border-radius:20%;
    padding:15px;
}
footer .bg
{
    margin-top:80px;
    background-color:rgb(27, 27, 27);
    color: white;
    height:100px;
}
footer .bg p
{
    font-size:20px;
    text-align: center;
    padding-top:40px;
}
/* end footer */

/* start scroll top */
#scroll-top
{
width: 38px;
height:36px;
background-color:rgb(238, 204, 10);
color:rgb(27, 27, 27);
text-align:center;
position: fixed;
right:25px;
bottom:28px;
border-radius:55%;
padding:2px;
z-index:9999;
display:none;
cursor: pointer;
}
#scroll-top:hover
{
    color: white;
    background-color:rgb(27, 27, 27);
}
/* end scroll top */

